{{yield}}

<div class="modal">
    <div class="close">
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

    <!-- <h1 class="modal__title">{{modal.title}}</h1> -->
    <h1 class="modal__title">Nicaragua Team Trip 2017</h1>


    <div class="modal__video">

    </div>
</div>
