//////////
// CLUB //
///////////////////////////////////////////////////////////
.club {
    margin-top: 80px;
    background-color: white;
}

.club-profiles-title {
    padding: 20px;
}

.club-profiles {
    @media (min-width: 768px) {
        margin: 50px;
        text-align: center;
    }
}
