//////////////
// HOMEPAGE //
///////////////////////////////////////////////////////////
.home {
    &__desktop {
        position: absolute;
        display: none;
        width: 100%;
        bottom: 15%;
        left: 0;
        margin: 2rem;

        @include breakpoint (medium up) {
            display: block;
        }
    }
}
