/////////////
// MEMBERS //
///////////////////////////////////////////////////////////
.members {
    padding-top: 65px;
    text-align: center;
}

.members-block {
    text-align: center;
    margin: 30px 50px 10px 50px;
    padding: 20px 60px 20px 60px;
    background: linear-gradient(lightgrey, grey);
    box-shadow: 10px 10px 5px rgba(0,0,0,.5);

    @media (min-width: 375px) {
        padding: 60px;
    }

    @media (min-width: 768px) {
        display: inline-block;
    }
}

.members-title {
    font-size: 1.4em;
    text-decoration: none;
    color: #000;
}
