//////////////
// SPONSERS //
///////////////////////////////////////////////////////////
.container {
    margin: 0;
}

.sponsers-title {
    padding-top: 90px;
    font-size: 1.5em;
    text-align: center;
    color: $white;
    margin: 10px 0px 0px 0px;

    @include breakpoint (medium up) {
        padding: 110px 1rem 0;
    }
}

.sponsers-block {
    text-align: center;

    @include breakpoint (medium up) {
        text-align: left;
    }
}

.sponser {
    width: 5rem;
    height: 5rem;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid $black;
    overflow: hidden;
    background-color: $white;
    box-shadow: 5px 10px 5px rgba(0,0,0,0.5);
    margin: 10px;

    @include breakpoint (medium up) {
        margin: 1rem;
    }
}

.sponser-image {
    width: 100%;
    height: auto;
}

.community-desktop {
    display: none;
    background: white;
    margin: 110px 1rem 0;
    height: 100%;
    padding: 1rem 2rem 2rem;

    @include breakpoint (medium up) {
        display: block;
    }

    &__title {
        font-size: 1.5em;
    }
}
