//////////
// TEAM //
///////////////////////////////////////////////////////////
.team {
    margin-top: 80px;
    background-color: white;
}

.profile-modal {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: white;
}

.team-profiles {
    @media (min-width: 768px) {
        margin: 30px;
        text-align: center;
    }
}

.team-profiles-title {
    padding: 20px;
    margin: 0;
}

.profile {
    &__image {
        width: 150px;
        height: 150px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        filter: grayscale(100%);
    }

    &__name {
        font-size: 1.5em;
    }
}

.events-title {
    padding: 20px;
    margin-bottom: 0;
    font-size: 2em;
}

.events {
    background-color: lightgray;
    padding: 2rem;

    li {
        font-size: 1.5em;
    }

    span {
        font-size: .75em;
    }
}
