.modal {
    .team &, .club &, .members &, .sponsers &, .community &, .contact & {
        display: none;
    }

    z-index: 6;
    position: absolute;
    background: white;
    width: 100vw;
    height: 100vh;
    opacity: .97;
    padding: 45px;

    @include breakpoint (medium up) {
        padding: 90px 150px;
    }

    @include breakpoint (large up) {
        padding: 65px 250px;
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
    }

    &.hide {
        opacity: 0;
    }

    &__title {
        text-align: center;
        font-size: 2em;
    }

    &__video {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
        height: auto;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
