.ember-application {
    margin: 0; }

//////////////
//  NAVBAR  //
///////////////////////////////////////////////////////////
.nav {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    //height: 40vh;
    background-color: #fff;
    border-bottom: 2px solid #000;

    .index & {
        padding-bottom: 30vh;
        transition: all 2s;

        .nav-image {
            width: 150px;
            height: 150px;
            margin-top: -75px;
            margin-left: -75px; }
     }

    .contact &, .team &, .club &, .sponsers & {
        padding-bottom: none;
        transition: all 2s;

        .nav-image {
            width: 50px;
            height: 50px;
            margin-top: -25px;
            margin-left: -25px; }

        .nav-title {
            display: none;
            transition: all 2s; }
    }
}

.nav-left {
    float: left;
    display: flex;
    width: 50%; }

.nav-logo {
    width: 50px;
    height: 50px;
    background-image: url("http://placehold.it/50x50");

    margin: 5px; }

.nav-title {
    font-size: 1em;
    padding: 4px; }

.nav-title-bg {
    display: none; }

.nav-image {
    bottom: 0;
    left: 50%;
    position: absolute;
    background-image: url("http://placehold.it/150x150"); }

.nav-right {
    float: right;
    width: 50%; }

.nav-icon {
    font-style: normal;
    float: right;
    padding: 10px; }

.nav-menu {
    position: absolute;
    width: 100%;
    background-color: cornsilk;
    transform: translateY(-105%); }

.nav-toggle {
    list-style: none;
    padding: 0;
    margin: 0; }

.nav-link {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #000;
    display: block; }

//////////////
// HOMEPAGE //
///////////////////////////////////////////////////////////
.home {
    margin: 0 auto; }

.home-title {
    text-align: center;
    padding-top: 10px; }

.next {
    text-align: center;
    padding-top: 10px; }

.next-arrow {
    font-style: normal;
    font-size: 3em; }

/////////////
// HISTORY //
///////////////////////////////////////////////////////////


//////////////
// SPONSERS //
///////////////////////////////////////////////////////////

/////////////
// CONTACT //
///////////////////////////////////////////////////////////
.map-container {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden; }

.map-object {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%; }

////////////
// FOOTER //
///////////////////////////////////////////////////////////
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; }

.footer-info {
    float: left;
    display: none; }

.footer-links {
    float: right; }

.footer-link {
    list-style: none;
    display: inline-block; }

.footer-image {
    width: 30px;
    height: auto;
    padding-right: 5px; }

#insta {
    padding-bottom: 2px; }
