.ember-application {
    margin:0;
    background-image: url("/assets/images/pier.jpg");
    background-size: cover;
    background-repeat: no-repeat; }

//////////////
//  NAVBAR  //
///////////////////////////////////////////////////////////
.nav {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    border-bottom: 2px solid #000;

    .index & {
        padding-bottom: 30vh;
        transition: all 2s;

        .nav-image {
            width: 150px;
            height: 150px;
            margin-top: -75px;
            margin-left: -75px;
            bottom: -50px;
            transition: all 2s ease; }
     }

    .contact &, .team &, .club &, .sponsers & {
        padding-bottom: none;
        transition: all 2s;

        .nav-image {
            width: 70px;
            height: 70px;
            margin-top: -35px;
            margin-left: -35px;
            bottom: -25px;
            transition: all 2s ease; }

        .nav-title {
            display: none;
            transition: all 2s; }
    }

    .team &, .club & {
        position: fixed;
    }
}

.nav-left {
    float: left;
    display: flex;
    width: 50%; }

.nav-logo {
    width: 50px;
    height: 50px;
    background-image: url("http://placehold.it/50x50");

    margin: 5px; }

.nav-title {
    font-size: 1em;
    padding: 4px; }

.nav-title-bg {
    display: none; }

.nav-image {
    left: 50%;
    position: absolute;
    background-image: url("/assets/images/pyramid.png");
    background-repeat: no-repeat;
    background-size: contain; }

.nav-right {
    float: right;
    width: 50%; }

.nav-icon {
    font-style: normal;
    float: right;
    padding: 10px; }

.nav-menu {
    position: absolute;
    width: 100%;
    background-color: cornsilk;
    transform: translateY(-105%);
    transition: transform 1s ease;

    &.is-visible {
        transform: translateY(0);
    }
}


.nav-toggle {
    list-style: none;
    padding: 0;
    margin: 0; }

.nav-link {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #000;
    display: block; }

.nav-back {
    text-align: center;
    padding: 10px;
    transform: rotateX(180deg); }

.nav-arrow {
    text-decoration: none;
    font-style: normal; }

//////////////
// HOMEPAGE //
///////////////////////////////////////////////////////////
.home-title {
    text-align: center;
    padding-top: 10px; }

.next {
    text-align: center;
    padding-top: 10px; }

.next-arrow {
    font-style: normal;
    font-size: 3em;
    text-decoration: none; }

/////////////
// HISTORY //
///////////////////////////////////////////////////////////


//////////////
// SPONSERS //
///////////////////////////////////////////////////////////
.sponsers-title {
    text-align: center;
    color: #fff; }

.row {
    text-align: center; }

.sponser {
    width: 25vw;
    height: 25vw;
    margin: 10px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #000;
    overflow: hidden;
    background-color: #fff; }

.sponser-image {
    width: 100%;
    height: auto; }

/////////////
// CONTACT //
///////////////////////////////////////////////////////////
.contact-container {
    margin: 20px;
    background: #fff;
    padding: 20px; }

.contact-title {
    font-size: 1em; }

.contact-text {
    font-size: .75em; }

.map-container {
    position: relative;
    padding-bottom: 48%;
    height: 0;
    overflow: hidden; }

.map-object {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%; }

//////////
// TEAM //
///////////////////////////////////////////////////////////
.team {
    background-color: lightgray; }

.team-image {
    width: 100%;
    height: 318px;
    background-image: url("/assets/images/team.png");
    background-size: cover; }

.calendar-title {
    padding: 20px; }

.team-profiles {
    background-color: darkslategray; }

.team-profiles-title {
    padding: 20px; }

////////////
// FOOTER //
///////////////////////////////////////////////////////////
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff; }

.footer-info {
    float: left;
    display: none; }

.footer-links {
    float: right; }

.footer-link {
    list-style: none;
    display: inline-block; }

.footer-image {
    width: 30px;
    height: auto;
    padding-right: 5px; }

#insta {
    padding-bottom: 2px; }
