<div class="nav">
    <div class="nav-left">
        <div class="nav-logo"></div>
        <h1 class="nav-title">LBSU SURF</h1>
        <h1 class="nav-title-bg">LONG BEACH STATE SURF</h1>
    </div>
    <div class="nav-image"></div>
    <div class="nav-right">
        <i class="nav-icon">&#9776;</i>
        <ul class="nav-toggle">    
            <li class="nav-link">TEAM</li>
            <li class="nav-link">CLUB</li>
            <li class="nav-link">SPONSERS</li>
            <li class="nav-link">CONTACT</li>
        </ul>
    </div>
</div>

{{outlet}}

<div class="footer">
    <p class="footer-info">&copy Taylor Tobin</p>
    <ul class="footer-links">
        <li class="footer-link">facebook</li>
        <li class="footer-link">instagram</li>
    </ul>
</div>
