<div class="nav">
    <div class="nav-left">
        <div class="nav-logo"></div>
        <h1 class="nav-title">LBSU SURF</h1>
        <h1 class="nav-title-bg">LONG BEACH STATE SURF</h1>
    </div>
    <div class="nav-image"></div>
    <div class="nav-right"><i class="nav-icon">&#9776;</i></div>
    <div class="nav-menu">
        <ul class="nav-toggle">    
            <li class="nav-link">TEAM</li>
            <li class="nav-link">CLUB</li>
            <li class="nav-link">SPONSERS</li>
            <li class="nav-link">CONTACT</li>
        </ul>
    </div>
</div>

{{outlet}}

<div class="footer">
    <p class="footer-info">&copy Taylor Tobin</p>
    <ul class="footer-links">
        <li class="footer-link"><a href="https://www.facebook.com/search/top/?q=long%20beach%20state%20surf"><img class="footer-image" src="/assets/images/facebook.png"></a></li>
        <li class="footer-link"><a href="https://www.instagram.com/longbeachstatesurf/"><img class="footer-image" src="/assets/images/instagram.png"></a></li>
    </ul>
</div>
