<div class="nav">
    <div class="nav-left">
        <div class="nav-icon"><img src="http://placehold.it/50x75"></div>
        <h1 class="nav-title">LONG BEACH STATE SURF</h1>
    </div>
    <div class="nav-image">
        
    </div>
    <div class="nav-right">
        <ul class="nav-toggle">
            <i class="nav-icon">&#9776;</i>
            <li class="nav-link"></li>
        </ul>
    </div>
</div>

{{outlet}}

<div class="footer">
    <p class="footer-info">&copy Taylor Tobin</p>
    <ul class="footer-links">
        <li class="footer-link">facebook</li>
        <li class="footer-link">instagram</li>
    </ul>
</div>
