<div class="nav">
    <div class="nav-left">
        <div class="nav-logo"></div>
        <h1 class="nav-title">LBSU SURF</h1>
        <h1 class="nav-title-bg">LONG BEACH STATE SURF</h1>
    </div>
    <div class="nav-image"></div>
    <div class="nav-right"><i class="nav-icon">&#9776;</i></div>
    <div class="nav-menu">
        <ul class="nav-toggle">
            {{#link-to 'team' class="nav-link"}}TEAM{{/link-to}}
            {{#link-to 'club' class="nav-link"}}CLUB{{/link-to}}
            {{#link-to 'sponsers' class="nav-link"}}SUPPORT{{/link-to}}
            {{#link-to 'contact' class="nav-link"}}CONTACT{{/link-to}}
        </ul>
    </div>
</div>

{{#link-to 'index'}}HOME{{/link-to}}
{{#link-to 'contact'}}CONTACT{{/link-to}}

{{outlet}}

<div class="footer">
    <p class="footer-info">&copy Taylor Tobin</p>
    <ul class="footer-links">
        <li class="footer-link"><a href="https://www.facebook.com/search/top/?q=long%20beach%20state%20surf"><img class="footer-image" src="/assets/images/facebook.png"></a></li>
        <li class="footer-link"><a href="https://www.instagram.com/longbeachstatesurf/"><img id="insta" class="footer-image" src="/assets/images/instagram.png"></a></li>
    </ul>
</div>
