{{liquid-outlet}}
<div class="contact-container shadow-bottom">
    <div class="row">
        <div class="column small-6">
            <h1 class="contact-title">Call</h1>
            <p class="contact-text">President</p>
            <p class="contact-text">Sebastian Ospina</p>
            <p class="contact-text">(831) 332-4366</p>
            <p class="contact-text">Vice President</p>
            <p class="contact-text">Taylor Tobin</p>
            <p class="contact-text">(805) 434-7559</p>
        </div>
        <div class="column small-6">
            <h1 class="contact-title">Find us</h1>
            <p class="contact-text">Cal State University Long Beach</p>
            <p class="contact-text">1250 Bellflower Blvd</p>
            <p class="contact-text">Long Beach, CA 90840</p>
        </div>
    </div>
</div>
{{contact-map}}
