{{liquid-outlet}}

<div class="home">
    <div class="row next">
        {{#link-to 'members' class="home next__arrow"}}next{{/link-to}}
    </div>

    <div class="row home__desktop">
        <div class="column medium-6 center">
            {{#link-to 'team' class="ticket"}}Meet the Team{{/link-to}}
        </div>
        <div class="column medium-6 center">
            {{#link-to 'club' class="ticket"}}Meet the Club{{/link-to}}
        </div>
    </div>
</div>
