{{liquid-outlet}}
<div class="home">
    <!-- <h1 class="home-title">Find us by the Pyramid or in the water</h1> -->
    <div class="row">
        {{#link-to 'members' class="next-arrow"}}{{fa-icon 'angle-double-down' class="next-arrow--icon"}}{{/link-to}}
    </div>
</div>
