{{liquid-outlet}}
<div class="members">
    <div class="members-block">
        {{#link-to 'team' class="members-title"}}Meet the Team{{/link-to}}
    </div>
    <div class="members-block">
        {{#link-to 'club' class="members-title"}}Meet the Club{{/link-to}}
    </div>
</div>
<div class="next">{{#link-to 'sponsers'class="next-arrow"}}&dHar;{{/link-to}}</div>
