{{liquid-outlet}}
<div class="members">
    <div class="members-team">
        {{#link-to 'team'}}<h1 class="member-title">Meet the Team</h1>{{/link-to}}
    </div>
    <div class="members-club">
        {{#link-to 'club'}}<h1 class="members-team">Meet the Club</h1>{{/link-to}}
    </div>
</div>
<div class="next">{{#link-to 'sponsers'class="next-arrow"}}&dHar;{{/link-to}}</div>
