{{liquid-outlet}}
<div class="members">
    <div class="row members-block">
        <div class="column small-12 center">
            {{#link-to 'team' class="ticket"}}Meet the Team{{/link-to}}
        </div>
    </div>
    <div class="row members-block">
        <div class="column small-12 center">
            {{#link-to 'club' class="ticket"}}Meet the Club{{/link-to}}
        </div>
    </div>

    <div class="row next">
        {{#link-to 'sponsers' class="next__arrow"}}sponsors{{/link-to}}
    </div>
</div>
