{{liquid-outlet}}
<div class="sponsers-block">
    <div class="row">
        <div class="sponser">
            <img class="sponser-image" src="/assets/images/aipa.gif">
        </div>
        <div class="sponser">
            <img class="sponser-image" src="/assets/images/stamps.jpg">
        </div>
    </div>
    <div class="row">
        <div class="sponser">
            <img class="sponser-image" src="/assets/images/aipa.gif">
        </div>
        <div class="sponser">
            <img class="sponser-image" src="/assets/images/trumoo.png">
        </div>
    </div>
    <div class="row">
        <div class="sponser">
            <img class="sponser-image" src="/assets/images/lasbarcas.png">
        </div>
        <div class="sponser">
            <img class="sponser-image" src="/assets/images/aipa.gif">
        </div>
    </div>
</div>
<div class="next">{{#link-to 'contact'class="next-arrow"}}&dHar;{{/link-to}}</div>
