{{liquid-outlet}}
<h1 class="sponsers-title">Supporters</h1>
<div class="sponsers-block">
    <div class="row">
        <div class="sponser">
            <a href="http://www.benaipa.com/"><img class="sponser-image" src="/assets/images/aipa.gif"></a>
        </div>
        <div class="sponser">
            <a href="http://www.surfboardsbystamps.com/#about"><img class="sponser-image" src="/assets/images/stamps.jpg"></a>
        </div>
    </div>
    <div class="row">
        <div class="sponser">
            <a href="http://www.coastal-collective.com/"><img class="sponser-image" src="/assets/images/coastal-collective.jpg"></a>
        </div>
        <div class="sponser">
            <a href="http://www.trumoo.com/"><img class="sponser-image" src="/assets/images/trumoo.png"></a>
        </div>
    </div>
    <div class="row">
        <div class="sponser">
            <a href="http://www.lasbarcas.com"><img class="sponser-image" src="/assets/images/lasbarcas.png"></a>
        </div>
        <div class="sponser">
            <a href="#"><img class="sponser-image" src="/assets/images/aipa.gif"></a>
        </div>
    </div>
</div>
<div class="next">{{#link-to 'contact'class="next-arrow"}}&dHar;{{/link-to}}</div>
