{{liquid-outlet}}
<div class="sponsers">
    <div class="row">
        <div class="column small-12 medium-4">
            <h1 class="sponsers-title">Supporters</h1>
            <div class="sponsers-block">
                <div class="row">
                    {{#each model as |support|}}
                        <div class="column small-6">
                            <div class="sponser"><a href="{{support.url}}"><img class="sponser-image" src="{{support.sponser}}"></a></div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="column medium-8">
            <div class="community shadow-bottom">
                <h1 class="community__title">Community</h1>
            </div>
        </div>
    </div>

    <div class="row next">
        {{#link-to 'contact' class="next__arrow"}}{{fa-icon 'angle-double-down' class="next__arrow--icon"}}{{/link-to}}
    </div>
</div>
