{{liquid-outlet}}
<div class="team">

    <div class="row">
        <div class="profile">
            {{#link-to 'team'}}<img class="profile-image" src="http://placehold.it/150x150">{{/link-to}}
            <h1 class="profile-name">Name</h1>
        </div>
        <div class="profile">
            {{#link-to 'team'}}<img class="profile-image" src="http://placehold.it/150x150">{{/link-to}}
            <h1 class="profile-name">Name</h1>
        </div>
        <div class="profile">
            {{#link-to 'team'}}<img class="profile-image" src="http://placehold.it/150x150">{{/link-to}}
            <h1 class="profile-name">Name</h1>
        </div>
        <div class="profile">
            {{#link-to 'team'}}<img class="profile-image" src="http://placehold.it/150x150">{{/link-to}}
            <h1 class="profile-name">Name</h1>
        </div>
    </div>
    <div class="row">
        <div class="profile">
            {{#link-to 'team'}}<img class="profile-image" src="http://placehold.it/150x150">{{/link-to}}
            <h1 class="profile-name">Name</h1>
        </div>
        <div class="profile">
            {{#link-to 'team'}}<img class="profile-image" src="http://placehold.it/150x150">{{/link-to}}
            <h1 class="profile-name">Name</h1>
        </div>
        <div class="profile">
            {{#link-to 'team'}}<img class="profile-image" src="http://placehold.it/150x150">{{/link-to}}
            <h1 class="profile-name">Name</h1>
        </div>
        <div class="profile">
            {{#link-to 'team'}}<img class="profile-image" src="http://placehold.it/150x150">{{/link-to}}
            <h1 class="profile-name">Name</h1>
        </div>
    </div>
    <div class="row">
        <div class="profile">
            {{#link-to 'team'}}<img class="profile-image" src="http://placehold.it/150x150">{{/link-to}}
            <h1 class="profile-name">Name</h1>
        </div>
        <div class="profile">
            {{#link-to 'team'}}<img class="profile-image" src="http://placehold.it/150x150">{{/link-to}}
            <h1 class="profile-name">Name</h1>
        </div>
        <div class="profile">
            {{#link-to 'team'}}<img class="profile-image" src="http://placehold.it/150x150">{{/link-to}}
            <h1 class="profile-name">Name</h1>
        </div>
        <div class="profile">
            {{#link-to 'team'}}<img class="profile-image" src="http://placehold.it/150x150">{{/link-to}}
            <h1 class="profile-name">Name</h1>
        </div>
    </div>
</div>
