{{liquid-outlet}}
<div class="team">
    <div class="team-image"></div>
    <div class="calendar">
        <h1 class="calendar-title">Event Schedule</h1>
        <div class="calendar-containter">

        </div>
    </div>
    <h1 class="team-profiles">The Team</h1>
    <div class="row">
        <div class="profile">
            {{#link-to 'team'}}<img class="profile-image" src="http://placehold.it/150x150">{{/link-to}}
            <h2 class="profile-name">Name</h2>
        </div>
        <div class="profile">
            {{#link-to 'team'}}<img class="profile-image" src="http://placehold.it/150x150">{{/link-to}}
            <h2 class="profile-name">Name</h2>
        </div>
        <div class="profile">
            {{#link-to 'team'}}<img class="profile-image" src="http://placehold.it/150x150">{{/link-to}}
            <h2 class="profile-name">Name</h2>
        </div>
        <div class="profile">
            {{#link-to 'team'}}<img class="profile-image" src="http://placehold.it/150x150">{{/link-to}}
            <h2 class="profile-name">Name</h2>
        </div>
    </div>
    <div class="row">
        <div class="profile">
            {{#link-to 'team'}}<img class="profile-image" src="http://placehold.it/150x150">{{/link-to}}
            <h2 class="profile-name">Name</h2>
        </div>
        <div class="profile">
            {{#link-to 'team'}}<img class="profile-image" src="http://placehold.it/150x150">{{/link-to}}
            <h2 class="profile-name">Name</h2>
        </div>
        <div class="profile">
            {{#link-to 'team'}}<img class="profile-image" src="http://placehold.it/150x150">{{/link-to}}
            <h2 class="profile-name">Name</h2>
        </div>
        <div class="profile">
            {{#link-to 'team'}}<img class="profile-image" src="http://placehold.it/150x150">{{/link-to}}
            <h2 class="profile-name">Name</h2>
        </div>
    </div>
    <div class="row">
        <div class="profile">
            {{#link-to 'team'}}<img class="profile-image" src="http://placehold.it/150x150">{{/link-to}}
            <h2 class="profile-name">Name</h2>
        </div>
        <div class="profile">
            {{#link-to 'team'}}<img class="profile-image" src="http://placehold.it/150x150">{{/link-to}}
            <h2 class="profile-name">Name</h2>
        </div>
        <div class="profile">
            {{#link-to 'team'}}<img class="profile-image" src="http://placehold.it/150x150">{{/link-to}}
            <h2 class="profile-name">Name</h2>
        </div>
        <div class="profile">
            {{#link-to 'team'}}<img class="profile-image" src="http://placehold.it/150x150">{{/link-to}}
            <h2 class="profile-name">Name</h2>
        </div>
    </div>
</div>
